.mainBlock {
    background-color: rgb(195, 215, 230);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.title{
    font-size: 19px;
    padding-left: 3%;
    font-weight: bold;
    padding: auto;
}

.push{
    font-size: 21px;
    margin-left: 10%;
    padding: auto;
}

.secondBlock {
    height: 5%;
    padding-top: 10px;
    background-color: rgb(234, 239, 243);
    border-bottom: 1px solid black;

}

.secondBlockTitle{
    display: inline-block;
    text-align: center;
    width: 15%;
    padding-left: 1%;
}


.secondBlock  :hover {
    color: blue;
}