.page {
    width: 210mm;
    height: 297mm;
    padding: 10mm;
    box-sizing: border-box;
    page-break-after: always;
  }
  
  .page:last-child {
    page-break-after: auto;
  }
  
  .transformerTable {
    margin-top: 24px;
    width: 100%;
    border-collapse: collapse;
    font-size: 12pt;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 1px;
    text-align: center;
  }
  
  .pageNumber {
    text-align: right;
    margin-top: 5mm;
    font-size: 9pt;
  }