.block{
    /* display: inline;
    width: 70%;
    height: 1500px; */
    background-color: rgb(213, 217, 238);
    /* padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 45px;
    padding-left: 45px; */
    
}