.reportNumber{
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
}

.table{
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

td{
    padding-left: 4px;
}

.tempreture{
    font-size: 14px;
}