.table {
    border-collapse: collapse;
    font-family: "Times New Roman", serif;
    font-size: 8pt  ;
  }
  
  .firstColumn {
    width: 15mm;
    height: 2.5mm;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
  }
  
  .secondColumn {
    width: 25mm;
    height: 12.5mm;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
  }