.header {
    width: 100%;
    
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.4;
    padding-bottom: 4mm;
  }
  
  .orgName {
    font-weight: 400;
    margin: 0;
  }
  
  .title {
    font-weight: bold;
    margin: 0;
  }
  
  .address {
    margin: 0;
    font-size: 12pt;
  }

 