.header {
    width: 100%;
    
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    line-height: 1.4;
    padding-bottom: 4mm;
  }
  
  .orgName {
    font-weight: 400;
    margin: 0;
  }
  
  .title {
    font-weight: bold;
    margin: 0;
  }
  
  .address {
    margin: 0;
    font-size: 12pt;
  }

  .table {
    border-collapse: collapse;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
  }
  
  .firstColumn {
    width: 30mm;
    height: 5mm;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
  }
  
  .secondColumn {
    width: 50mm;
    height: 20mm;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
  }