
.block{
    margin-top: 20px;
    border: 1px solid black;
    margin-right: 15px;
    padding: 8px;
    border-radius: 5px;
}

.mainBlock{
    margin-left: 20px;
}

.navigation{
    text-decoration: none;
    padding-top: 15px;
    margin-right: 15px;
    font-size: 18px;
}

.navigation :hover {
color: rgb(197, 141, 43);
}
